body {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
.dv4{
    background: linear-gradient(red, black);
    position: relative;
    width: 650px;
    height: 395px;   
}
.sm{
    position: relative;
    width: 176px;
    height: 396px;
}
.im{
    position: relative;
    width: 316px;
    height: 395px;
}
.ca{
    position: relative;
    width: 298px;
    height: 392px;
}
.bw{
    position: relative;
    width: 216px;
    height: 393px;
}
.dv2{
    position: relative;
    width: 650px;
    height: 395px;
    background: rgb(185, 6, 6);
}
.dv1{
    position: relative;
    width: 650px;
    height: 395px;
    background: linear-gradient(rgb(119, 119, 247), rgb(223, 122, 248));
}
.dv3{
    position: relative;
    background: linear-gradient(black, rgb(78, 4, 78));
    width: 650px;
    height: 395px;
}
.tx3{
    margin-left: 457px;
    margin-top: -397px;
    color: white;
}
.tx4{
    margin-left: 517px;
    margin-top: -404px;
    color: white;
}
.tx1{
    margin-left: 464px;
    margin-top: -401px;
    color: white;
}
.tx2{
    margin-left: 495px;
    margin-top: -407px;
    color: white;
}