
.div1 {
    border: 3px solid rgb(197, 30, 30);
    width: 150px;
    height: 200px;
    position: absolute;
}
.div2{
    border: 3px solid rgb(202, 240, 66);
    width: 150px;
    height: 180px;
    margin-top: 208px;
    position: absolute;
}
 .div3{
    border: 3px solid rgb(48, 213, 235);
    width: 150px;
    height: 100px;
    margin-left: 157px;
    position: absolute;
    
}
 .div4{
    border: 3px solid rgb(109, 87, 233);
    width: 150px;
    height: 185px;
    margin-top: 204px;
    margin-left: 157px;
    position: absolute;
}
 .div5{
     border: 3px solid rgb(231, 88, 184);
    width: 150px;
    height: 90px;
    margin-top: 107px;
    margin-left: 157px;
    margin-top: ;
    position: absolute;
}
                
            
        
    
